body {
  overflow-x: hidden;

  &.dark {
    background-color: #111;
  }

  &.thundershock {
    animation: thundershock 0.1s ease infinite;
    animation-fill-mode: forwards;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

/* STAGE 1 */

.initial-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;

  &.start {
    display: flex;
  }
}

.the-button {
  transition: 1s all;
  cursor: pointer;

  &.clicked {
    border: none;
    border-radius: 5%;

    padding-inline: 15px;

    background: linear-gradient(
      -45deg,
      #ff2828,
      #ff2828,
      #efff15,
      #3eff20,
      #3eff20,
      #2965fc,
      #9924ff
    );
    background-size: 400% 400%;

    animation: gradientBG 0.2s ease infinite, playButton 6.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.tremble {
    animation: tremble 0.1s ease infinite, gradientBG 0.2s ease infinite,
      playButton 6.5s ease-in-out, crazyFonts 0.5s ease infinite;
    animation-fill-mode: forwards;
  }
}

.muryokusho {
  position: fixed;
  display: none;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  transform: scale(0.01);

  background-color: #111;
  overflow: hidden;

  z-index: 10;

  &.start {
    display: flex;

    justify-content: center;
    align-items: center;

    animation: domainExpansion 0.2s ease-in-out;
    animation-fill-mode: forwards;

    .splash {
      position: absolute;
      animation: domainSplash 2s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

.muryokusho-video {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  z-index: 10;

  &.visible {
    display: block;
  }

  &.start {
    animation: casualFadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.end {
    animation: casualFadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

/* STAGE 2 */

.main-container {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-color: #111;

  &.visible {
    display: flex;

    .background-video {
      position: absolute;
      width: 100vw;
      height: 100vh;

      object-fit: cover;

      opacity: 0%;

      transition: 1.3s all;

      &.start {
        opacity: 15%;
      }
    }
  }
}

/* CONTENT */

.content {
  display: none;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &.visible {
    display: flex;
  }
}

.container {
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100vh;

  gap: 42px;

  padding-block: 21px;
  padding-inline: 10vw;

  background-color: #111;

  opacity: 1;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.mugen {
    cursor: none;

    .mugen-gojo {
      cursor: none;
      animation: mugenGojo 3s ease-in-out infinite;
    }

    #fake-cursor {
      position: fixed;
    }
  }

  &.murasaki {
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    &.visible {
      display: flex;
    }

    .description-container {
      display: flex;
      flex-direction: column;

      gap: 20px;
    }

    .murasaki-simulator {
      position: relative;
      width: 500px;
      height: 300px;
      margin-bottom: 20px;
    }
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    gap: 24px;

    .image-container,
    .description-container {
      display: flex;
      flex-direction: column;

      gap: 20px;

      justify-content: center;

      flex: 1;
    }

    i {
      color: rgb(141, 141, 141);
      font-size: 0.9em;
    }

    .quote {
      padding: 16px;
      background-color: #00d9ff44;

      gap: 0px;

      margin-top: 32px;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .about-content {
      flex-direction: column;
    }
  }

  .mugen-challenge {
    display: none;
  }

  #fake-cursor {
    display: none;
  }

  .image-container {
    align-items: center;
  }
}

.muryokusho-secondary {
  &.clicked {
    animation: thundershock 0.1s ease infinite, playButton 6.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.tremble {
    animation: thundershock 0.1s ease infinite, tremble 0.1s ease infinite,
      playButton 6.5s ease-in-out, crazyFonts 0.5s ease infinite;
    animation-fill-mode: forwards;
  }
}

footer {
  justify-content: center;
  align-items: center;

  padding: 48px 12px;
  background: black;

  margin-top: 48px;

  p {
    color: white;
  }
}
