.flash {
  position: fixed;
  background-color: white;

  width: 100vw;
  height: 100vh;

  display: none;

  &.active {
    display: block;
  }

  &.explosion {
    display: block;
    animation: blowUp 1.8s ease-in-out;
  }

  z-index: 10;
}

.circle {
  position: absolute;

  width: 100px;
  height: 100px;
  top: 20px;

  border-radius: 50%;
  opacity: 0;
  transition: margin-top 1.5s, transform 4.5s ease-in-out, box-shadow 1.5s,
    opacity 0.4s;

  &.floating {
    margin-top: -200px;
  }

  &.visible {
    opacity: 0.9;
  }
}

#red {
  background-color: rgba(255, 0, 0, 0.7);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);

  left: 0;

  animation: glow 1.5s infinite alternate;

  &.intersection {
    transform: translateX(200px);
  }

  &.grow {
    transition: transform 0.4s ease-in-out;
    transform: translateX(200px) scale(4);
  }

  &.super-grow {
    transition: transform 4s ease-in-out;
    transform: translateX(200px) scale(6);
  }

  &.popaway {
    animation: murasakiPopAwayRed 4s ease-in-out;
    animation-fill-mode: forwards;
  }
}

#blue {
  background-color: rgba(0, 0, 255, 0.7);
  right: 0;
  box-shadow: 0 0 40px rgba(0, 0, 255, 0.8);

  &.intersection {
    transform: translateX(-200px);
  }

  &.grow {
    animation: glow 1.5s infinite alternate;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-200px) scale(4);
  }

  &.super-grow {
    transition: transform 3.5s ease-in-out;
    transform: translateX(-200px) scale(6);
  }

  &.popaway {
    animation: murasakiPopAwayBlue 4s ease-in-out;
    animation-fill-mode: forwards;
  }
}

#text {
  color: white;
  font-size: 1.4em;
  font-family: "Arial", sans-serif;
  text-align: center;
  position: absolute;
  top: 45%;

  display: none;

  &.visible {
    display: block;
  }

  @media screen and (max-width: 768px) {
    &.visible {
      display: none;
    }
  }

  margin-left: -24px;
  &.blue {
    right: 12px;
    margin-left: 0;
  }
}

#japanese-text {
  color: white;
  font-size: 1.7em;
  font-family: "Arial", sans-serif;
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &.visible {
    display: block;
  }
}

#controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#releaseButton {
  font-family: "Darumadrop One", serif;
  font-size: 1.3em;

  position: absolute;
  margin-top: -170px;

  background-color: white;
  color: #333;

  transition: 0.2s all;

  &:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
  }

  display: none;

  &.visible {
    display: block;
  }
}
